scripts/.ipynb_checkpoints/*
spyproject/*
data/MIT Cost Surface Duplin Co/*
OptimizeViewer/ImportLog/*
OptimizeViewer/Index/*
OptimizeViewer/OptimizeViewer.gdb
*.lock
data/DuplinStack500m.npy
OptimizeViewer/.prj
data/DuplinStack.npy
