scripts/.ipynb_checkpoints/*
spyproject/*
data/MIT Cost Surface Duplin Co/*
OptimizeViewer/ImportLog/*
OptimizeViewer/Index/*
OptimizeViewer/OptimizeViewer.gdb
OptimizeViewer/SingleConnect.gdb
OptimizeViewer/MultiConnect.gdb
*.lock
data/DuplinStack500m.npy
OptimizeViewer/.prj
data/*.npy
data/MIT_Surface_Full/*
data/LCP_Analysis.gdb/*
data/processed/*
docs/BiogasUtilization_QuarterlyReport_Y1Q3_Aug2019_v1.docx
